
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root {
    --bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html {
    min-width: 100%;
    font-family: var(--bs-font-sans-serif);
}

body {
    background: black;
    width: 100%;
    position: fixed;
}

header {
    height: 100px;
    width: 100%;
    margin-top: 1%;
}

header a {
    color: #808080;
    font-size: 1em;
    text-decoration: none;
    margin-top: 50%;
    font-family: var(--bs-font-sans-serif);
    font-weight: 700;
}

header a:hover {
    padding-bottom: 7px;
    border-bottom: 0.25rem solid #808080;
}

a.startseite {
    margin-left: 65%;
    color: white;
    padding-bottom: 7px;
    border-bottom: 0.25rem solid white;
}

a.impressum {
    margin-left: 2%;
}


#logo {
    width: 50%;
    margin: auto;
    display: block;
    }

.socials {
    width: 100%;
    height: 400px;
    position: relative;
}

.socials img {
    width: 40;
    height: 40px;
}

.facebook {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 60%;
    left: 43%;
}

.instagram {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 60%;
    left: 54%;
}


/* HELLO */